<!-- {{result | json}} -->
<table border="1"
       cellpadding="10px"
       cellspacing="10px"
       align="center">
    <thead>
        <tr>
            <th>name</th>
            <th>capital</th>
            <th>nativeName</th>
            <th>population</th>
            <th>flag</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of result">
            <td>{{obj.name}}</td>
            <td>{{obj.capital}}</td>
            <td>{{obj.nativeName}}</td>
            <td>{{obj.population}}</td>
            <td><img width="100px" height="50px" src={{obj.flag}}></td>
        </tr>
    </tbody>
</table>